In [1]:
import pandas as pd
df = pd.read_csv('Downloads/dsu_fall23_tech_app_dataset.csv')

In [10]:
#QUESTION 1
df_sorted = df.nlargest(1, 'Race_Wins') #using nlargest to sort the dataframe, top most is the driver with the most race wins
print(df_sorted) #printed out modified dataframe.

             Driver         Country  Has_Won_A_Championship  Total_Races  \
338  Lewis Hamilton  United Kingdom                    True        311.0

     Race_Wins                                            Seasons  \
338      103.0  2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014...

     Pole_Positions  Total_Championships_Won  Race_Podiums  Decade
338           103.0                      7.0         191.0    2010

In [4]:
#QUESTION 2
df_groupby = df.groupby("Country")["Total_Championships_Won"].sum()
print(df_groupby)

Country
Argentina                      5
Australia                      4
Austria                        4
Belgium                        0
Belgium France                 0
Brazil                         8
Canada                         1
Chile                          0
China                          0
Colombia                       0
Czech Republic                 0
Denmark                        0
East Germany                   0
East Germany, West Germany     0
Finland                        4
France                         4
Germany                       12
Hungary                        0
India                          0
Indonesia                      0
Ireland                        0
Italy                          3
Japan                          0
Liechtenstein                  0
Malaysia                       0
Mexico                         0
Monaco                         0
Monaco Netherlands             0
Morocco                        0
Netherlands                    2
New Zealand                    1
Poland                         0
Portugal                       0
RAF                            0
Rhodesia                       0
Rhodesia and Nyasaland         0
Russia                         0
South Africa                   1
Spain                          2
Sweden                         0
Switzerland                    0
Thailand                       0
United Kingdom                20
United States                  2
Uruguay                        0
Venezuela                      0
West Germany                   0
Name: Total_Championships_Won, dtype: int64

In [7]:
#QUESTION 3
df_modified = df[df['Total_Races'] >= 5] #Only keeps the drivers who have completed 5 races or more in a new dataframe
df_modified['winProportion'] = df_modified['Race_Wins'] / df_modified['Total_Races'] #calculating the proportion of races won by drivers that fit the 5 race parameter
df_modified_result = (df_modified.nlargest(3, 'winProportion')) #storing the top 3 racers that have the highest proportion
print(df_modified_result) #showing the modified result.

                Driver        Country  Has_Won_A_Championship  Total_Races  \
11  Juan Manuel Fangio      Argentina                    True           51
22      Alberto Ascari          Italy                    True           32
76       Bill Vukovich  United States                   False            5

    Race_Wins                                         Seasons  Pole_Positions  \
11         24  1950, 1951, 1953, 1954, 1955, 1956, 1957, 1958              29
22         13              1950, 1951, 1952, 1953, 1954, 1955              14
76          2                    1951, 1952, 1953, 1954, 1955               1

    Total_Championships_Won  Race_Podiums  Decade  winProportion
11                        5            35    1950       0.470588
22                        2            17    1950       0.406250
76                        0             2    1950       0.400000

/var/folders/7n/8v96lj4x567f7j0y_8h6qmy40000gn/T/ipykernel_55020/2867351321.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_modified['winProportion'] = df_modified['Race_Wins'] / df_modified['Total_Races'] #calculating the proportion of races won by drivers that fit the 5 race parameter

In [8]:
#QUESTION 4
season_count = df['Seasons'].str.count(',') #counted the number of commas to indicate how many seasons a driver participated in.
df['season_count'] = season_count + 1 #there will be an offset of 1 because i am counting commas, hence adding 1 extra to season count.
print(df.nlargest(10, 'season_count')) #using nlargest to print top 10 racers that have participated in the most seasons.

                Driver         Country  Has_Won_A_Championship  Total_Races  \
1   Michael Schumacher         Germany                    True          306
6      Fernando Alonso           Spain                    True          356
15      Kimi Räikkönen         Finland                    True          349
27  Rubens Barrichello          Brazil                   False          322
18       Jenson Button  United Kingdom                    True          306
21         Graham Hill  United Kingdom                    True          176
43    Riccardo Patrese           Italy                   False          256
0       Lewis Hamilton  United Kingdom                    True          311
2     Sebastian Vettel         Germany                    True          299
19        Jack Brabham       Australia                    True          126

    Race_Wins                                            Seasons  \
1          91  1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998...
6          32  2001, 2003, 2004, 2005, 2006, 2007, 2008, 2009...
15         21  2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008...
27         11  1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000...
18         15  2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007...
21         14  1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965...
43          6  1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984...
0         103  2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014...
2          53  2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014...
19         14  1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962...

    Pole_Positions  Total_Championships_Won  Race_Podiums  Decade  \
1               68                        7           155    2000
6               22                        2            99    2010
15              18                        1           103    2010
27              14                        0            68    2000
18               8                        1            50    2010
21              13                        2            36    1970
43               8                        0            37    1980
0              103                        7           191    2010
2               57                        4           122    2010
19              13                        3            31    1960

    season_count
1             19
6             19
15            19
27            19
18            18
21            18
43            17
0             16
2             16
19            16

In [12]:
#CHALLENGE QUESTION 1:
print(df.groupby('Pole_Positions')['Race_Wins'].sum())

Pole_Positions
0       42
1       32
2       22
3       33
4       10
5       17
6       49
7        6
8       27
10       6
12      23
13      63
14      44
16      27
17      27
18      45
20      32
21      36
22      32
24      48
26      20
29      24
30      23
32      31
33      76
57      53
65      41
68      91
103    103
Name: Race_Wins, dtype: int64

In [11]:
print(df.groupby('Pole_Positions')['Total_Championships_Won'].sum())

Pole_Positions
0      0
1      1
2      0
3      1
4      1
5      2
6      4
7      0
8      2
10     1
12     0
13     6
14     3
16     0
17     3
18     2
20     1
21     2
22     2
24     6
26     2
29     5
30     1
32     1
33     6
57     4
65     3
68     7
103    7
Name: Total_Championships_Won, dtype: int64

In [16]:
#QUESTION 2
df_groupby = df.groupby("Decade")["Race_Wins"].sum()
print(df_groupby)

Decade
1950     54
1960     91
1970     90
1980    172
1990    145
2000    194
2010    270
2020     67
Name: Race_Wins, dtype: int64

In [17]:
df_groupby = df.groupby("Decade")["Total_Championships_Won"].sum()
print(df_groupby)

Decade
1950     8
1960     7
1970     8
1980    13
1990     8
2000    11
2010    16
2020     2
Name: Total_Championships_Won, dtype: int64

In [18]:
df_groupby = df.groupby("Decade")["Race_Podiums"].sum()
print(df_groupby)

Decade
1950    143
1960    296
1970    278
1980    548
1990    394
2000    577
2010    743
2020    282
Name: Race_Podiums, dtype: int64

In [19]:
df_groupby = df.groupby("Decade")["Driver"].count()
print(df_groupby)

Decade
1950    191
1960    236
1970    102
1980    122
1990     83
2000     50
2010     47
2020     37
Name: Driver, dtype: int64